* { box-sizing: border-box; }

body {
 margin-bottom: 100px;
 margin-right: 150px;
 margin-left: 80px;
}


h1 {
  text-align: center;
  font-size: 400%;
}

h2 {

  font-weight: bold;
  font-size: 250%;

}

h3 {

  font-weight: bold;
  font-size: 150%;

}

.caja {
height: 400px;
width: 400px;
float:left;
margin-left:100px;
position: static;}

#tabla-fija {
  position: fixed;
  width:100%;
  height:35px;
  background-color:purple;

}

#tabla-fija ul {
  margin:0;
  padding:0;
}

#tabla-fija ul li {
    display:inline;
      height:30px;
      float:left;
      list-style:none;
      margin-left:30px;
      font-size: 150%;

}

#tabla-fija li a
{
    color:#fff;
    text-decoration:none;
}

#tabla-fija li a:hover
{
    text-decoration:underline;
}

#tabla-fija li
{
  color:#fff;
}
